*~
target/
project/target/
project/project/target/
.ensime
.ensime_cache/
*.log
ExampleTweet.json
.vscode/
twittertoeventhubgithub_settings.json
Usql/CsharpCode/bin/
Usql/CsharpCode/obj/
Usql/CsharpCode/*.cs